<!-- <img class="card-img-top" src="https://images.unsplash.com/photo-1596473537047-50758f115d04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap"> -->
<img class="card-img-top" src="{{product.pictureUrl}}" alt="Card image cap">
<div class="card-body">
    <a routerLink="/shop/{{product.id}}" routerLinkActive="router-link-active" ><h6 class="card-title">{{product.name}}</h6></a>
    <p class="card-text text-info">{{product.price | currency}}</p>
    <div class="btn-group">
        <div type="button" class="btn btn-outline-primary btn-group-sm fa fa-shopping-cart" role="group"></div>
        <div routerLink="/shop/{{product.id}}" type="button" class="btn btn-outline-success btn-group-sm" role="group"> View</div>
    </div>
</div>
